:root {
     --blue: #004080;
     --light-blue: #d0dbdf;
}
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scrollbar-width: none;
     border: none;
     user-select: none;
}

@font-face {
     font-family: "myFont";
     src: url(./SS3.ttf);
}

body {
     font-family: "myFont", sans-serif;
}
hr {
     border: none;
     border-top: 1px solid #ccc;
     /* margin: 10px 0; */
}
#input-area {
     width: 100%;
     height: 100vh;
     border: none;
     outline: none;
     font-size: 16px;
     padding: 30px;
     resize: none;
     /* display: none; */
}
main {
     height: fit-content;
     display: flex; 
     display: none;
     flex-direction: column;
     padding: 20px;
     gap: 5px;
}

section {
     display: flex;
     flex-direction: row;
     /* gap: 10px; */
     flex-direction: column;
     /* justify-content: space-between; */
     flex-wrap: wrap;
}
ul {
     list-style: none;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     overflow-wrap: anywhere;
     /* gap: 10px; */
}
.expla {
     display: none;
     color: #000;
     font-weight: normal;
}
h4:active ~ ul li.expla {
     display: inline;
}
li:active .expla {
     display: inline;
}
li:focus .expla {
     display: inline;
}
li .verb {
     color: var(--blue);
}
li::before {
     color: var(--blue);
     font-weight: normal;
}
li:focus {
     outline: 1px solid var(--light-blue);
     padding: 0px 5px;
     border-radius: 2px;
     background-color: #f0f8ff;
}
#names-list li::before {
     content: "@";
}
#places-list li::before {
     content: "#";
}
#sentences-list li::before {
     content: "-- ";
}
li:focus::before {
     content: "";
}

.add {
     background-color: transparent;
     color: var(--blue);
     padding: 0;
     border-radius: 5px;
     font-size: 20px;
     cursor: pointer;
     width: fit-content;
     height: fit-content;
     align-self: flex-start;
     /* font-weight: bold; */
}