:root {
     --blue: #004080;
     --light-blue: #d0dbdf;
     --dark-blue: #a0b4bb;
}
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scrollbar-width: none;
     border: none;
     user-select: none;
}

@font-face {
     font-family: "SS3";
     src: url(./SS3.ttf);
}
@font-face {
     font-family: "myFont";
     src: url(./HappyMonkey.ttf);
}

body {
     font-family: "myFont", sans-serif;
     /* background-color: var(--light-blue); */
     color: #000;
}
hr {
     border: none;
     border-top: 1px solid #ccc;
     /* margin: 10px 0; */
}
#input-area {
     width: 100%;
     height: 100vh;
     border: none;
     outline: none;
     font-size: 16px;
     padding: 30px;
     resize: none;
     background-color: #f4f4f4;
     
}
main {
     height: fit-content;
     display: flex; 
      display: none; 
     flex-direction: column;
     padding: 20px;
     gap: 5px;
     font-size: 24px;
}

section {
     display: flex;
     flex-direction: row;
     gap: 5px;
     flex-direction: column;
     /* justify-content: space-between; */
     /* background-color: var(--dark-blue); */
     border-radius: 5px;
     padding: 10px;
     flex-wrap: wrap;
}
ul {
     list-style: none;
     display: flex;
     /* flex-direction: column; */
     flex-wrap: wrap;
     overflow-wrap: anywhere;
     gap: 5px;
}
.expla {
     display: none;
     color: #999;
     font-weight: normal;
}
h3 {
     font-family: "SS3", sans-serif;
     /* color: var(--light-blue); */
     font-weight: 600;
     background-color: white;
     border-radius: 5px;
}
h4:active ~ ul li.expla {
     display: inline;
}
li {
     letter-spacing: 1px;
     border-radius: 5px;
     /* background-color: white; */
     padding: 2px 10px;
     border: 1px solid var(--dark-blue);
     outline: none;
}
li:active .expla {
     display: inline;
}
li:focus .expla {
     display: inline;
}
li .verb {
     color: var(--blue);
}
li::before {
     color: var(--blue);
     font-weight: normal;
}
#names-list:not(:empty) li::before {
     content: "@";
}
#places-list:not(:empty) li::before {
     content: "#";
}
/* #sentences-list:not(:empty) li::before {
     content: "-- ";
} */

.add {
     background-color: transparent;
     /* color: var(--blue); */
     padding: 0;
     border-radius: 5px;
     font-size: 20px;
     cursor: pointer;
     width: fit-content;
     height: fit-content;
     align-self: flex-start;
     /* font-weight: bold; */
}
